/*Le da el color azul al header y hace que el header se mueva con la pantalla*/
header {
    display: flex;
    flex-direction: row;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #134B70;
    justify-content: space-between;
}

/*Ubica correctamente los elementos en el header*/
.containerops {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 80%;
}

/*Se le da estetica a los botones del header*/
.opciones, .opcionesSignIn, .opcionesRegister {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 8px;
    border:none;
}

/*Se le da el color y el bordado al boton de SignIn*/
.opcionesSignIn {
    background-color: #EEEEEE; 
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 16px;
    margin-left: 10px;
    align-self: center;
}

/*Se le da el color y el bordado al boton de Register*/
.opcionesRegister {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 16px;
    margin-left: 10px;
    align-self: center;
}

/*Se ubican los botones uno al lado de otro*/
.button-login-reg{
    display: flex;
    flex-direction: row;
}

/*Se ubica la imagen principal de modo que se pueda ver bien*/
.logoHeader img {
    height: 80px;
    
}

/*Se le da estetica a las opciones del header*/
.opciones {
    text-decoration: none;
    color: #F3F3F3;
}

/*Se le da el color de fondo al main*/
main{
    background-color: #EEEEEE;
}


.mascotaIm {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.mascotaIm img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}


/*Se le da el degradado que separa a la imagen del contenido*/
.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 41px;
    margin:0;
    background:linear-gradient(#134B70 , #EEEEEE );
    position: relative;
    z-index: 1;
}

/*Se le da estetica a los titulos para que queden alineados en el centro*/
.titulos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}


/*Se le da el color y el tamaño al titulo principal*/
.contenido h1{
    color: #f5f5f5;
    font-size: 86px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

/*Se le da el color y el tamaño al subtitulo del slogan*/
.contenido h2{
    color: #f5f5f5;
    font-size: 38px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.contenido h3{

    margin-top: 100px;
}

.contenido h4{
    margin-top: 100px;

}

.opiniones {
    display: flex;
    flex-direction: row;
    gap: 56px;
    padding: 20px;
}

.opinion {
    border-radius: 15px;
    padding: 20px;
    width: 400px;
    text-align: center;
    box-shadow: 0 8px 8px #134B70;
    background-color: white;
}

main h4{

    background-color: #134B70;
    width: 1000px;
    padding: 8px;
    text-align: center;
    border-radius: 20px;
}

.productosGenerales{
    display:flex;
    flex-direction: row;
    gap: 75px;
    padding:20px;
}

.product{

    background-color: white;
    border-radius: 15px;
    width:300px;
    box-shadow: 0 12px 12px #134B70;
}

.product h5{
    text-align: center;
}

.verMas{

    background-color: #134B70;
    width:120px;
    border-radius: 20px;
    box-shadow: 0 4px 10px #134B70;
    transition: transform 0.2s, box-shadow 0.2s;

}

.verMas:hover{

    transform: scale(1.05);
}

/*Personalizacion del boton "Conoce mas"*/
.conoceMas {
    width: 240px;
    border-radius: 25px;
    border: 1px solid #3D2525;
    background: linear-gradient(45deg, #508C9B, #134B70);
    padding: 12px;
    margin-top: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    transition: transform 0.2s, box-shadow 0.2s;
}

/*Impresion optica cuando se pone el cursor sobre el boton*/
.conoceMas:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px #508C9B;
}


/*Se personaliza la imagen principal*/
.parallax {
    background-image: url('../images/perroMain.jpg');
    height: 100vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Se le da estetico al boton de conoce mas*/
.conoceMas .icono{
    width: 20px; 
    height: auto; 
    margin-right: 8px;
}

.mensajes h1, h2{

    padding: 50px;
    text-align: center;
    color:black;
}

.mensajes h2{

    color:black;
    text-align: center;

}

.mensajes form {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #134B70; /* Añade un borde */
    border-radius: 10px; /* Redondea las esquinas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade sombra para el efecto de recuadro */
    background-color: #f5f5f5; /* Fondo blanco o claro */
    width: 40%; /* Ajusta el ancho del formulario */
    margin: auto; 
    box-shadow: 0 6px 15px #508C9B;
}

.mensajes form label {
    font-size: 16px; 
    color: black;
    margin-bottom: 8px; 
    display: block; 
    text-transform: none; 
}

.mensajes form textarea {
    width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.mensajes form input, form button, form textarea{
    border-radius: 10px;
}

.mensajes form button{

    padding:10px;
    color:white;
    background-color: black;

}

.mensajes form button:hover{
    background-color:#508C9B;
}

/*Se le da el color al footer*/
footer{

    background-color: #508C9B;
    padding: 70px;
}

/*Se le da el degradado a la pagina*/
footer{
    display:flex;
    flex-direction: row ;
    background:linear-gradient(#EEEEEE 20%, #508C9B);

}

/*Se le da el color al texto de copyright*/
.copy{
    color: black;
}

/*Los logos de las redes sociales son ubicados en el footer la derecha de la pantalla*/
.redes{

    display:flex;
    flex-grow:1;
    justify-content: end;
}

/*Se ponen las caracteristicas de la pagina pegadas a la pantalla*/
html, body{

    padding: 0;
    margin: 0;
}
