/* Estilos personalizados para el sidebar y navbar */
header {
    background-color: #134b70;
    color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 900; /* Mantén el z-index alto pero por debajo del sidebar */
    position: relative; /* Asegura que el navbar esté correctamente posicionado */
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1000; /* Asegúrate de que el sidebar esté por encima del navbar */
    padding-top: 60px; /* Aumenta el padding-top para evitar que se superponga con el navbar */
    background-color: #134b70;
    transition: width 0.3s;
    margin-top: 0; /* Elimina cualquier margen superior */
}

#sidebar.collapsed {
    width: 80px;
}

#sidebar.expanded {
    width: 250px;
}

#sidebar .nav-item .nav-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white; /* Cambia el color del texto a blanco */
    padding: 1rem;
}

#sidebar.collapsed .nav-item .nav-link {
    text-align: center;
    padding: 1rem 0;
}

#sidebar.collapsed .nav-link span.text {
    display: none;
}

#sidebar.expanded .nav-link span.icon {
    display: inline-block;
}

main {
    margin-left: 250px; /* Este margen se ajusta cuando el sidebar está expandido */
    transition: margin-left 0.3s;
    padding: 20px;
}

main.collapsed {
    margin-left: 80px; /* Este margen se ajusta cuando el sidebar está colapsado */
}

#toggleSidebar {
    padding-right: 0; /* Quita cualquier padding extra a la derecha */
    color: white; /* Asegura que el ícono del toggle sea blanco */
}

.navbar-brand.ms-0 {
    margin-left: -0.5rem; /* Reduce el margen entre el ícono y el texto */
    color: white; /* Asegura que el título sea blanco */
}
.white {
    color: white; /* Asegura que todo el texto sea blanco */
}