main {
    margin-top: 90px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: white;
    border-radius: 10px;
    width: 80%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.info:hover {
    transform: scale(1.02);
}

.info ul {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
}

.info ul li {
    font-size: 18px;
}

button {
    background-color: #508C9B;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3B6C78;
}

.margin-top-50 {
    margin-top: 50px;
}


table {
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border-collapse: collapse;
    overflow: hidden;
    width: 60%;
    font-size: 18px; 
}


th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    padding: 12px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle; 
}

td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    vertical-align: middle; 
}


tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}


table, th, td {
    border: none;
}
