main {
    margin-top: 90px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.tblanco {
    color: white;
}

.tcenter {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    background-color: white;
    border-radius: 10px;
    width: 50%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

input[type="text"], 
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
}

form button[type="submit"] {
    background-color: #508C9B;
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.
}