/* Contenedor para centrar la tabla */
.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    padding: 20px;
}

/* Estilo para las imágenes de mascotas */
table img {
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease;
    object-fit: cover;
}

/* Estilo para el formulario de búsqueda */
.container form {
    max-width: 500px;
    margin: 0 auto;
}

.container form .form-control {
    width: 70%;
}

.container form .btn-primary {
    width: 25%;
}


table img:hover {
    transform: scale(3);
}

/* Centrar el texto descriptivo en la tabla */
td, th {
    text-align: center;
    vertical-align: middle;
}

/* Estilo para la tabla */
table {
    width: 70%;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border-collapse: collapse; /* Evita bordes dobles */
    overflow: hidden;
}

/* Estilo para los encabezados */
th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    padding: 12px;
    text-transform: uppercase;
    text-align: center;
}

/* Estilo para las celdas */
td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/* Estilo para las filas */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/* Eliminar bordes adicionales */
table, th, td {
    border: none; /* Elimina el borde de la tabla y celdas */
}

.contenido a{
    margin: 22px;

}