<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Error</title>
    <link rel="stylesheet" href="../css/error.css" />
</head>
<body>
    <div class="container text-center mt-5">
        <h1 class="display-1">Oops!</h1>
        <p class="lead">Algo salió mal. No podemos encontrar lo que estás buscando.</p>
        <hr>
        <p>Intenta regresar a la <a href="/" class="text-primary">página principal</a>.</p>
        <p>Si el problema persiste, por favor contacta al soporte técnico.</p>
    </div>
</body>
</html>