<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instalaciones</title>

    <link rel="stylesheet" th:href="/css/instalaciones.css" />
    <link rel="stylesheet" th:href="/css/index.css" />

</head>
<body>
    <header>
        <div class="logoHeader">
            <a href="#"><img src="../images/LogoPetdiatria.png" alt="Logo PetDiatria" /></a>
        </div>
        <nav>
            <ul>
                <li><a href="#instalaciones">Instalaciones</a></li>
                <li><a href="#promociones">Promociones</a></li>
                <li><a href="#servicios">Servicios</a></li>
            </ul>
            <div class="auth-buttons">
                <button class="signin-btn">Sign in</button>
                <button class="register-btn">Register</button>
            </div>
        </nav>
    </header>

    <section class="ubicacion-section">
        <h1>¿Dónde estamos ubicados?</h1>
        <p>Para mayor formalidad te esperamos en nuestras instalaciones</p>

        <div class="map-container">
            <img src="mapa.png" alt="Mapa de ubicación" class="mapa">
            <p>Estamos ubicados en la capital de Colombia, en la localidad de Chapinero, específicamente en la <strong>Cra 7 #40 - 62</strong></p>
        </div>

        <div class="photo-container">
            <img src="instalaciones.png" alt="Foto de las instalaciones" class="instalaciones">
            <p>Contamos con unas instalaciones amplias para cumplir con las expectativas de tu mascota</p>
        </div>

        <p class="footer-text">Contamos con la mejor atención de Bogotá, ¡Te esperamos!</p>
    </section>

    <footer>
        <div class="copy">
            <p>Copyright &copy; 2024</p>
            <p>All rights reserved</p>
            <p>Dirección: Cra 7 #40 - 62</p>
        </div>

        <div class="nosotros">
            <h3>¿Quiénes somos?</h3>
            <img src="../images/ImagenFooter.jpeg" alt="Icono" class="icono">
            <a href="#contenido">
                <p>PetDiatria</p>
            </a>
        </div>

        <div class="d-flex flex-column justify-content-between align-items-center w-30 h-50">
            <h3>Redes Sociales</h3>
            <div class="redes">
                <a href="https://x.com/MiguelBayona26" target="_blank">
                    <img src="../images/xImage.png" alt="X" />
                </a>
                <a href="https://www.instagram.com/sergio_cuellar.11/" target="_blank">
                    <img src="../images/instagram.png" alt="Instagram" />
                </a>
                <a href="https://www.facebook.com/" target="_blank">
                    <img src="../images/facebookimage.png" alt="Facebook" />
                </a>
            </div>
        </div>
    </footer>

</body>
</html>
